.frame {
    position: relative; /* Allows positioning of child elements */
    grid-column: span 12;
    width: 100%; /* Full width */
    height: 100vh; /* Full height of the viewport */
    display: flex;
    align-items: center; /* Center the content vertically */
    justify-content: center; /* Center the content horizontally */
    overflow: hidden; /* Ensures the image doesn't overflow */
}

.frame #background {
    position: absolute; /* Allows it to cover the banner */
    filter: brightness(50%);
    top: 0;
    left: 0;
    width: 100%; /* Make the image fill the banner */
    height: 100%; /* Full height of the viewport */
    object-fit: cover; /* Ensures the image maintains aspect ratio */
    object-position: 50% 20%;
    z-index: -1; /* Send the image behind the content */
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    width: 90%;
    height: 500px;
}

.container h1 {
    font-size: 5em;
    color: white;
    margin: 100px 0;
}

.container section { 
    display: flex;
    align-items: center;
}

.container section div {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-color: white;
    font-size: 2em;
    margin: 20px 50px;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.container section h3 {
    text-align: center;
    margin: 20px 0;
}

.container img {
    width: 250px;
    border-radius: 5%;
}

@media (max-width: 550px) {
    .frame .container section {
        flex-direction: column;
    }

    .container section div {
        margin: 10px 0;
    }

    .container img {
        width: 200px;
    }

    .container h1 {
        font-size: 5em;
        color: white;
        margin: 50px 0;
    }
}